<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">MEAN Employees</a>
  </div>
</nav>

<div class="container p-4">
    <app-employee></app-employee>
</div>
